[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/git"]
	path = bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/sontek/minibufexpl.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/makegreen"]
	path = bundle/makegreen
	url = https://github.com/reinh/vim-makegreen
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
    url = https://github.com/vim-scripts/The-NERD-tree.git
    ignore = untracked
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = https://github.com/xolox/vim-session.git
    ignore = untracked
[submodule "bundle/less-syntax"]
	path = bundle/less-syntax
	url = https://github.com/vim-scripts/less-syntax.git
[submodule "bundle/vim-markdownfootnotes"]
	path = bundle/vim-markdownfootnotes
	url = https://github.com/vim-pandoc/vim-markdownfootnotes.git
[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = https://github.com/monotasker/vim-pandoc.git
[submodule "bundle/vim-pandoc-extras"]
	path = bundle/vim-pandoc-extras
	url = https://github.com/vim-pandoc/vim-pandoc-extras.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/svg.vim"]
	path = bundle/svg.vim
	url = https://github.com/vim-scripts/svg.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim_web2py_syntax"]
	path = bundle/vim_web2py_syntax
	url = git@github.com:monotasker/vim_web2py_syntax.git
[submodule "bundle/web2py-snippets"]
	path = bundle/web2py-snippets
	url = git@github.com:monotasker/web2py-snippets.git
[submodule "bundle/vim-jquery"]
	path = bundle/vim-jquery
	url = https://github.com/itspriddle/vim-jquery.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/vim-scripts/Solarized.git
[submodule "bundle/vim-sparkup"]
	path = bundle/vim-sparkup
	url = git://github.com/tristen/vim-sparkup.git
[submodule "bundle/base16"]
	path = bundle/base16
	url = git://github.com/chriskempson/base16-vim.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = git://github.com/skammer/vim-css-color.git
[submodule "bundle/ansi_esc"]
	path = bundle/ansi_esc
	url = git://github.com/vim-scripts/AnsiEsc.vim.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "bundle/rename"]
	path = bundle/rename
	url = git://github.com/danro/rename.vim.git
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = git://github.com/Lokaltog/powerline.git
[submodule "bundle/guicolorscheme"]
	path = bundle/guicolorscheme
	url = git://github.com/vim-scripts/guicolorscheme.vim.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = git://github.com/xolox/vim-misc.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/scratch-vim"]
	path = bundle/scratch-vim
	url = https://github.com/vim-scripts/scratch.vim.git
[submodule "bundle/camelcasemotion"]
	path = bundle/camelcasemotion
	url = https://github.com/vim-scripts/camelcasemotion.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "fonts"]
	path = fonts
	url = git://github.com/Lokaltog/powerline-fonts.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/vim-scripts/vim-less.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = https://github.com/vim-scripts/closetag.vim.git
[submodule "bundle/bootstrap-snippets"]
	path = bundle/bootstrap-snippets
	url = https://github.com/kusnier/bootstrap-snippets.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/colorv"]
	path = bundle/colorv
	url = https://github.com/Rykka/colorv.vim.git
[submodule "webapi-vim"]
	path = webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "bundle/webapi-vim"]
	path = bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "bundle/galaxy.vim"]
	path = bundle/galaxy.vim
	url = https://github.com/Rykka/galaxy.vim.git
